{% extends 'base.html' %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
  <div class="row">
    <div class="col-sm-6">
      {% include 'submit_smell.html' %}
    </div>
    <div class="col-sm-6 map-container">
      {% include 'view_map.html' %}
    </div>
  </div>
{% endblock %}

{% block styles %}
<style>
  .map-container {
    width: 100%;
    height: 100vh;
  }
</style>
{% endblock %}