{% extends 'base.html' %}
{% block header %}{% endblock %}

{% block content %}

  <button id="addSmellBtn" class="btn btn-primary mb-3">Add Smell</button>
  <div id="map"></div>
  <div id="address-search-container">
    <input id="address-search-input" type="text" placeholder="Enter an address">
    <button id="address-search-button" class="btn btn-primary mb-3">Search</button>
  </div>
  <script>
    // select location to report by clicking on map:
    function onMapClick(e) {
      if (addSmellMode) {
        // Save the clicked location's coordinates
        const clickedLocation = e.latlng;

        // Set the form's latitude and longitude fields to the clicked location's coordinates
        document.getElementById('latitude').value = clickedLocation.lat;
        document.getElementById('longitude').value = clickedLocation.lng;

        // Disable addSmellMode
        toggleAddSmellMode();
      }
    }
    // only enable when SmellMode is true:
    let addSmellMode = false;

    function toggleAddSmellMode() {
      addSmellMode = !addSmellMode;
      document.getElementById('addSmellBtn').classList.toggle('btn-danger');
      document.getElementById('addSmellBtn').innerHTML = addSmellMode ? 'Cancel' : 'Add Smell';
    }
    document.getElementById('addSmellBtn').addEventListener('click', toggleAddSmellMode);

    // create smell icon based on smell_type and intensity:
    function createSmellIcon(smellTypeColor, intensity) {
      const icon = L.divIcon({
        className: 'smell-marker',
        html: `<div class="smell-icon" style="background-color: ${smellTypeColor}; opacity: ${intensity / 10};"></div>`,
        iconSize: [20, 20],
        iconAnchor: [10, 10],
      });
      return icon;
    }

  
    function addSmellMarker(latitude, longitude, smellTypeColor, intensity, smellTypeName) {
      const icon = createSmellIcon(smellTypeColor, intensity);
      L.marker([latitude, longitude], { icon: icon })
        .addTo(map)
        .bindPopup(`${smellTypeName} - ${intensity}`);
    }

    function searchAddress() {
      const address = document.getElementById('address-search-input').value;
      const geocodeUrl = '{{geocoder_url}}' + address;

      fetch(geocodeUrl)
        .then(response => response.json())
        .then(data => {
          const coords = data.features[0].geometry.coordinates;
          const lat = coords[1]
          const lng = coords[0]
          map.panTo(new L.LatLng(lat, lng));
          map.setZoom(20); // Change 15 to the desired zoom level

        })
        .catch(error => console.error(error));
    }

    document.getElementById('address-search-button').addEventListener('click', searchAddress);

    document.getElementById('address-search-input').addEventListener('keyup', event => {
      if (event.key === 'Enter') {
        searchAddress();
      }
    });


    // Create a new Leaflet map centered on the first smell
    {% if smells %}
      var map = L.map('map').setView([{{ smells[0].latitude }}, {{ smells[0].longitude }}], 13);
    {% else %}
      var map = L.map('map').setView([0, 0], 13);
    {% endif %}
    
    map.on('click', onMapClick);
    // Add the OpenStreetMap tile layer
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: 'Map data © <a href="https://openstreetmap.org">OpenStreetMap</a> contributors'
    }).addTo(map);

    {% if smells %}
      {% for smell in smells %}
        addSmellMarker({{ smell.latitude }}, {{ smell.longitude }}, "{{ smell.smell_type.color }}", {{ smell.intensity }}, "{{ smell.smell_type.name }}");
      {% endfor %}
    {% else %}
      var map = L.map('map').setView([0, 0], 13);
    {% endif %}


  </script>
{% endblock %}
{% block footer %}{% endblock %}
